html, body {
  margin: 0;
  padding: 0;
  background-color: pink;
}
/* Provo a mettere un commento: verrà cancellato per la build */
body {
  height: 100%;
}

h1 {
  font-size: 2rem;
}

/* Qui serve un prefix per la compatibilità */
input::placeholder {
  color: red;
}

img {
  max-width: 400px;
}